<mat-card class="mat-elevation-z2 card">
  <mat-card-subtitle class="title">{{ 'CHART-SETTINGS.TITLE' | translate }}</mat-card-subtitle>
  <mat-card-content>
      <div class = "chart-settings">
          <form class = "form"
            [formGroup]="vFormGroup" (ngSubmit)="onSubmit(vFormGroup.value)"
            #funcForm="ngForm"
            novalidate
          >
              <mat-form-field class = "field-spec">
                  <input matInput placeholder = "{{ 'CHART-SETTINGS.VERIFICATION.PLACEHOLDER' | translate }}"
                    formControlName="func"
                    onkeyup="this.value = this.value.toLowerCase();"
                    matTooltip="{{ 'CHART-SETTINGS.VERIFICATION.TOOLTIPS.FUNCTION' | translate }}"
                    matTooltipClass="mat-tooltip"
                    >
                  <mat-hint></mat-hint>
                  <mat-error *ngIf="!vFormGroup.controls['func'].valid && vFormGroup.controls['func'].touched">
                    {{getError("func")}}
                  </mat-error>
              </mat-form-field>
              <button mat-icon-button
                matTooltip="{{ 'CHART-SETTINGS.VERIFICATION.TOOLTIPS.SEE' | translate }}"
                color="accent"
                class = "button see"
                type=button
                [disabled]="disable()"
                (click)="openFunctionTableDataPointsDialog()"
              >
                <mat-icon fontSet="fa" fontIcon="fa-eye"></mat-icon>
              </button>


              <button mat-icon-button
                color="accent" class="button draw"
                matTooltip="{{ 'CHART-SETTINGS.VERIFICATION.TOOLTIPS.DRAW' | translate }}"
                type="submit"
                [disabled]="disable() "
              >
                <mat-icon fontSet="fa" fontIcon="fa-chart-line"></mat-icon>
              </button>
              <button mat-icon-button
                matTooltip="{{ 'CHART-SETTINGS.VERIFICATION.TOOLTIPS.CLEAR' | translate }}"
                color="warn" class="button clear" (click)="clear()"
                [disabled]="disableClear()"
                type=button
              >
              <mat-icon fontSet="fa" fontIcon="fa-eraser"> </mat-icon>
                <!-- Reset  -->
              </button>
          </form>

          <div class="checkboxes">
            <mat-checkbox
              class = "field"
              [(ngModel)] = "displayDatastore"
              (change)="onDisplayDatastoreChange($event)"
              matTooltip="{{ 'CHART-SETTINGS.CHECKBOXES.TABLE' | translate }}"
              >
              {{ 'CHART-SETTINGS.CHECKBOXES.TABLE' | translate }}
            </mat-checkbox>
            <mat-checkbox
                class = "field"
                [(ngModel)] = "liveReload"
                (change)="onLiveReloadChange($event)"
                matTooltip="{{ 'CHART-SETTINGS.CHECKBOXES.RELOAD' | translate }}"
                >
                {{ 'CHART-SETTINGS.CHECKBOXES.RELOAD' | translate }}
            </mat-checkbox>
            <mat-checkbox
                class = "field"
                [(ngModel)] = "displayPointRadius"
                (change)="onDisplayPointChange($event)"
                [disabled]="!activatedFx"
                matTooltip="{{ 'CHART-SETTINGS.CHECKBOXES.POINTS' | translate }}"
                >
                {{ 'CHART-SETTINGS.CHECKBOXES.POINTS' | translate }}
            </mat-checkbox>
          </div>
        </div>
  </mat-card-content>
</mat-card>


