
.chart-settings{


  .checkboxes {
    float: right;
    padding-right: 10px;

    .field {
      margin-right: 10px;

    }
  }

  .form {
    float: left;
    padding: 0px 10px;
    margin: -4px 0px;

    .field {
      width: 75px;
      margin-right: 5px;

    }

    .field-spec{
      width: 80%;
    }

    .button.see {
      margin-left: -10%;
    }

    .button {
      margin-left: -5%;
    }

  }


}
