
<div class="dialog">
  <h1 mat-dialog-title>
      <mathjax [content]="mathjaxFunc"></mathjax>
  </h1>
  <div mat-dialog-content class="table">
    <mat-table [dataSource]="dataSource" matSort>
      <!-- id column -->
      <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef  class = "mycell">
              {{ 'DIALOG-TABLE.HEADER.ID' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let j=index;" class = "mycell">
              {{j+1}}
          </mat-cell>
        </ng-container>

      <!-- point column -->

      <ng-container *ngFor="let column of columns"
        [cdkColumnDef]="column.columnDef"
      >
        <mat-header-cell *cdkHeaderCellDef mat-sort-header class = "mycell">
          {{ column.header }}
        </mat-header-cell>
        <mat-cell *cdkCellDef="let row; let element" class = "mycell">
          <div *ngIf="(column.columnDef === 'y') &&  (element.y !== null)">
            {{column.cell(row)}}
          </div>
          <div *ngIf="(column.columnDef === 'y') &&  (element.y === null)">
            NaN
          </div>
          <div *ngIf="(column.columnDef !== 'y')">
            {{column.cell(row)}}
          </div>
        </mat-cell>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef  class = "mycell">
            {{ 'DIALOG-TABLE.HEADER.ACTIONS' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element; let j=index;" class = "mycell">
            <button *ngIf="element.y !== null" (click)="addPoint(element)"
              class="iconbutton" color="warn"
              matTooltip="{{ 'DIALOG-TABLE.BUTTONS.ADD.TOOLTIPS' | translate }}"
              mat-icon-button mat-raise-button disableRipple
            >
              <mat-icon>add</mat-icon>
            </button>
        </mat-cell>
      </ng-container>



      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>

    <mat-paginator #paginator [pageSizeOptions]="[5, 10,50,100]" showFirstLastButtons></mat-paginator>
  </div>
</div>
