<mat-card class="mat-elevation-z2 card">
    <mat-card-subtitle class="title">
        {{ 'TABLE-SETTINGS.TITLE' | translate }}
      <button (click)="resetStore()"
        mat-icon-button mat-raise-button disableRipple
        matTooltip="{{ 'TABLE-SETTINGS.BUTTONS.RESET.TOOLTIPS' | translate }}"
        class="fill-spacer iconbutton" color="warn"
        [disabled] = "disableResetStore()"
      >
        <mat-icon aria-label="Delete">delete</mat-icon>
        {{ 'TABLE-SETTINGS.BUTTONS.RESET.TEXT' | translate }}
      </button>

    </mat-card-subtitle>
    <mat-card-content>
        <div class="table-data-points-container">

            <mat-table [dataSource]="dataSource" matSort>

              <!-- id column -->
              <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef  class = "mycell id">
                      {{ 'TABLE-SETTINGS.HEADER.ID' | translate }}
                  </mat-header-cell>
                  <mat-cell *matCellDef="let j=index;" class = "mycell id">
                      {{j}}
                  </mat-cell>
                </ng-container>


              <ng-container *ngFor="let column of getColumns()"
                [cdkColumnDef]="column.columnDef"
                [sticky]="isSticky(column.columnDef)"
              >

                <mat-header-cell *cdkHeaderCellDef mat-sort-header class = "mycell">
                  <mathjax #mathjaxs [content]= "column.header"></mathjax>
                </mat-header-cell>
                <mat-cell *cdkCellDef="let row let element" class = "mycell">
                  <div *ngIf="isParam(column.columnDef)">
                    <mat-form-field class = "column-field">
                      <input matInput type='number' step="0.1" placeholder = "" value = "{{column.cell(row)}}"
                        (keydown.enter)="forceReloadOnChangeParamValue(element, column.columnDef, $event.target.value)"
                        (keydown.tab)="forceReloadOnChangeParamValue(element, column.columnDef, $event.target.value)"
                        (input)="liveReloadOnChangeParamValue(element, column.columnDef, $event.target.value)"
                        matTooltip="{{ 'TABLE-SETTINGS.INPUT.TOOLTIPS' | translate }}"
                      >
                    </mat-form-field>

                  </div>
                  <div *ngIf="!isParam(column.columnDef)">
                    {{column.cell(row)}}
                  </div>

                </mat-cell>

              </ng-container>

              <!-- Draw Column -->
              <ng-container matColumnDef="draw" [sticky]="true">
                <mat-header-cell *matHeaderCellDef  class = "mycell draw">
                    $$T_i(x)$$
                </mat-header-cell>
                <mat-cell *matCellDef="let element; let j=index;" class = "mycell draw">

                    <button mat-icon-button
                        class="iconbutton"
                        color="accent"
                        (click) = "seeTellerExpression(element)"
                        [disabled]="disable()"
                        matTooltip="{{ 'TABLE-SETTINGS.BUTTONS.TELLER.SEE' | translate:{value : j} }}"
                      >
                        <mat-icon  fontSet="fa" fontIcon="fa-eye"></mat-icon>
                      </button>
                    <button mat-icon-button
                      class="iconbutton"
                      color="accent"
                      [disabled]="disable()"
                      (click) = "draw(element)"
                      matTooltip="{{ 'TABLE-SETTINGS.BUTTONS.TELLER.DRAW'  | translate:{value : j}  }}"
                    >
                      <mat-icon fontSet="fa" fontIcon="fa-chart-line"></mat-icon>
                    </button>
                    <button mat-icon-button
                      class="iconbutton"
                      color="warn"
                      [disabled]="disableClear()"
                      (click) = "drawEpsilon(element)"
                      matTooltip="{{ 'TABLE-SETTINGS.BUTTONS.TELLER.EPSILON' | translate:{value : j}  }}"
                    >
                      <mat-icon fontSet="fa" fontIcon="fa-chart-area"></mat-icon>
                    </button>
                    <button mat-icon-button
                      class="iconbutton"
                      color="accent"
                      [disabled]="disableClear()"
                      (click) = "clear(element)"
                      matTooltip="{{ 'TABLE-SETTINGS.BUTTONS.TELLER.CLEAR'  | translate:{value : j} }}"
                    >
                      <mat-icon fontSet="fa" fontIcon="fa-eraser">
                      </mat-icon>
                    </button>
                </mat-cell>
              </ng-container>

              <!-- datastore Action Column -->
              <ng-container matColumnDef="actions" [sticky]="true">
                <mat-header-cell *matHeaderCellDef  class = "mycell actions">
                    {{ 'TABLE-SETTINGS.HEADER.ACTIONS.TABLE' | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let element; let j=index;" class = "mycell actions">

                    <button (click)="delete(element)"
                      mat-icon-button
                      matTooltip="{{ 'TABLE-SETTINGS.BUTTONS.DELETE.TOOLTIPS'  | translate:{value : j} }}"
                      class="iconbutton" color="warn"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
              </ng-container>



              <mat-header-row *matHeaderRowDef="getDisplayedColumns()"></mat-header-row>
              <mat-row *matRowDef="let row; columns: getDisplayedColumns();">
              </mat-row>
            </mat-table>

            <mat-paginator #paginator [pageSizeOptions]="[1, 5, 10,50,100]" showFirstLastButtons></mat-paginator>
          </div>
    </mat-card-content>
  </mat-card>

