<div [class]="'theme-wrapper ' + themeClass ">


  <app-toolbar></app-toolbar>

  <div class="container spacer">

    <mat-grid-list  cols="3" rowHeight="40px" >
      <mat-grid-tile
          [colspan]="2"
          [rowspan]="2"
      >
        <app-chart-settings #appChartSettings
          [functionSettingsComponent]="appFunctionSettings"
          >
        </app-chart-settings>

      </mat-grid-tile>
      <mat-grid-tile
          [colspan]="1"
          [rowspan]="4"
        >
          <app-function-settings #appFunctionSettings></app-function-settings>
      </mat-grid-tile>

      <mat-grid-tile
          [colspan]="2"
          [rowspan]="10"
      >
        <app-chart #appChart
          [fxParam]="appFunctionSettings.fxParam"
          >
        </app-chart>
      </mat-grid-tile>

      <mat-grid-tile
            [colspan]="1"
            [rowspan]="4"
          >
        <app-g-teller-settings
          [functionSettingComponent]="appFunctionSettings"
        ></app-g-teller-settings>
      </mat-grid-tile>


      <mat-grid-tile
            [colspan]="1"
            [rowspan]="4"
          >
          <app-points-settings #appPointsSettings [functionSettingComponent]="appFunctionSettings"></app-points-settings>
      </mat-grid-tile>

      <mat-grid-tile
        [colspan]="3"
        [rowspan]="(paginatorPageSize === 1) ? 7 : (7 * ((paginatorPageSize / 5) + 1))"
      >
        <app-table-data-points #appTableDataPoints
          [paginatorPageSize]="paginatorPageSize"
          [functionSettingComponent] = "appFunctionSettings">
            loading
        </app-table-data-points>
      </mat-grid-tile>
    </mat-grid-list>

  </div>


</div>



