:host {
  width: 100%;
  height: 100%;
  padding: 5px;
}

mat-card {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}

.card {
  padding: 5px !important;
  width: 100%;
  height: 100%;

  .title{
    margin: 0px;

    .fill-spacer{
      left: 90%;;
    }

    .panzoom {
      left: 80%;
    }
  }
}

.function-settings {
  padding: 10px;
  margin-left: 0px;

  .form {
    padding: 0px;

    .field {
      width: 75px;
      margin-right: 5px;

    }

    .field-spec{
      width: 70%;
      padding-right: 5px;

    }

    .form-function-button-see {
      margin-left: -10%;
    }

    .form-function-button {
            margin-right: 5px;
    }


  }
}

::ng-deep .mat-autocomplete-panel {
  background: #1c2b36;
  font-weight: bold;
  color: white;
  opacity: 0.9;
}
