<mat-card class="mat-elevation-z2 card">
  <mat-card-subtitle class="title"> {{ 'FUNCTION-SETTINGS.TITLE' | translate }} </mat-card-subtitle>
  <mat-card-content>
    <div class= "function-settings">
      <form class = "form"
          [formGroup]="funcFormGroup" (ngSubmit)="onSubmit(funcFormGroup.value)"
          #funcForm="ngForm"
          novalidate
        >

          <mat-form-field class = "field">
              <input matInput type='number' placeholder = "{{ 'FUNCTION-SETTINGS.XMIN.PLACEHOLDER' | translate }}"
                formControlName="xMin"
                max = "{{funcFormGroup.value.xMax}}"
                matTooltip="{{ 'FUNCTION-SETTINGS.XMIN.TOOLTIPS' | translate }}"
              >
              <mat-hint></mat-hint>
              <mat-error *ngIf="!funcFormGroup.controls['xMin'].valid && funcFormGroup.controls['xMin'].touched">
                  {{ 'FUNCTION-SETTINGS.XMIN.ERROR.' + getError("xMin").toUpperCase() | translate }}
              </mat-error>
          </mat-form-field>

          <mat-form-field class = "field">
              <input matInput type='number' placeholder = "{{ 'FUNCTION-SETTINGS.XMAX.PLACEHOLDER' | translate }}"
                formControlName="xMax"
                min = "{{funcFormGroup.value.xMin}}"
                matTooltip="{{ 'FUNCTION-SETTINGS.XMAX.TOOLTIPS' | translate }}"
                >
              <mat-hint></mat-hint>
              <mat-error *ngIf="!funcFormGroup.controls['xMax'].valid && funcFormGroup.controls['xMax'].touched">
                  {{ 'FUNCTION-SETTINGS.XMIN.ERROR.' + getError("xMax").toUpperCase() | translate }}
              </mat-error>
          </mat-form-field>

          <mat-form-field class = "field">
              <input matInput placeholder = "{{ 'FUNCTION-SETTINGS.DELTAX.PLACEHOLDER' | translate }}"
                formControlName="deltaX"
                type='number'
                min = 0 step="0.5"
                matTooltip="{{ 'FUNCTION-SETTINGS.DELTAX.TOOLTIPS' | translate }}"
                >
              <mat-hint></mat-hint>
              <mat-error *ngIf="!funcFormGroup.controls['deltaX'].valid && funcFormGroup.controls['deltaX'].touched">
                  {{ 'FUNCTION-SETTINGS.XMIN.ERROR.' + getError("deltaX").toUpperCase() | translate }}
              </mat-error>
          </mat-form-field>

          <mat-form-field class = "field">
              <input matInput type='number' min = 0.1 step="0.1" placeholder = "{{ 'FUNCTION-SETTINGS.STEP.PLACEHOLDER' | translate }}"
                formControlName="step"
                max = "{{funcFormGroup.value.xMax}}"
                matTooltip="{{ 'FUNCTION-SETTINGS.STEP.TOOLTIPS' | translate }}"
                >
              <mat-hint></mat-hint>
              <mat-error *ngIf="!funcFormGroup.controls['step'].valid && funcFormGroup.controls['step'].touched">
                  {{ 'FUNCTION-SETTINGS.XMIN.ERROR.' + getError("step").toUpperCase() | translate }}
              </mat-error>
          </mat-form-field>

          <mat-form-field class = "field-spec">
              <input matInput placeholder = "{{ 'FUNCTION-SETTINGS.FUNCTION.PLACEHOLDER' | translate }}"
                formControlName="func"
                onkeyup="this.value = this.value.toLowerCase();"
                matTooltip="{{ 'FUNCTION-SETTINGS.FUNCTION.TOOLTIPS' | translate }}"
                [matAutocomplete]="auto"
              >
              <mat-autocomplete #auto="matAutocomplete" class="auto-complete-panel">
                <mat-option *ngFor="let func of filteredFuncs" [value]="func">
                  {{func}}
                </mat-option>
              </mat-autocomplete>
              <mat-hint></mat-hint>
              <mat-error *ngIf="!funcFormGroup.controls['func'].valid && funcFormGroup.controls['func'].touched">
                  {{ 'FUNCTION-SETTINGS.XMIN.ERROR.' + getError("func").toUpperCase() | translate }}
              </mat-error>
          </mat-form-field>

          <button mat-icon-button
            color="accent"
            class = "form-function-button-see"
            type=button
            [disabled]="disable()"
            (click)="openFunctionTableDataPointsDialog()"

            matTooltip="{{ 'FUNCTION-SETTINGS.BUTTONS.TOOLTIPS.SEE' | translate }}"
          >
            <mat-icon fontSet="fa" fontIcon="fa-eye"></mat-icon>
          </button>

          <button mat-icon-button
            mat-raised-button
            color="accent" class="form-function-button"
            aria-label="Draw F(x)"
            type="submit"
            [disabled]="disable() "
            matTooltip="{{ 'FUNCTION-SETTINGS.BUTTONS.TOOLTIPS.DRAW' | translate }}"
          >
            <mat-icon fontSet="fa" fontIcon="fa-chart-line"></mat-icon>
              <!-- Draw -->
          </button>
          <button mat-icon-button
            mat-raised-button
            color="warn" class="form-function-button" (click)="clear()"
            [disabled]="disableClear()"
            type=button
            matTooltip="{{ 'FUNCTION-SETTINGS.BUTTONS.TOOLTIPS.CLEAR' | translate }}"
          >
          <mat-icon fontSet="fa" fontIcon="fa-eraser"> </mat-icon>
            <!-- Reset  -->
          </button>

      </form>
    </div>
  </mat-card-content>
</mat-card>

