
.function-settings {
  padding: 10px;
  margin-left: 0px;

  .form {
    padding: 0px;

    .field {
      width: 75px;
      margin-right: 5px;

    }

    .field-spec{
      width: 70%;
      padding-right: 5px;
    }

    .form-function-button-see {
      margin-left: -10%;
    }

    .form-function-button {
            margin-right: 5px;
    }


  }
}


