<!-- <stbui-loading *ngIf="showLoading"></stbui-loading> -->
<!--[ngClass]="getClasses()"-->

<mat-toolbar
  class="mat-elevation-z4 app-toolbar-common app-toolbar-default"
>
  <app-logo class="app-toolbar-logo"> </app-logo>

  <span class="spacer"></span>

  <mat-form-field class = "langue">
      <mat-select
        placeholder="{{ 'DASHBORD.SELECT' | translate }}"
        [(ngModel)]="selectedLang"
        (ngModelChange)="translateTo()"
        >
        <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">
          {{lang}}
        </mat-option>
      </mat-select>
    </mat-form-field>

</mat-toolbar>

