
.points-settings {

  padding-left: 10px;
  margin-left: 0px;
  padding-top: 5px;

  .form {

    width: 100%;

    .field {
      width: 75px;
      margin-right: 5px;
    }

    .button {
      margin-left: 20px;
    }

  }


}
