:host {
  width: 100%;
  height: 100%;
  padding: 5px;
}

mat-card {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
}

.card {
  padding: 5px !important;
  width: 100%;
  height: 100%;

  .title{
    margin: 0px;

    .fill-spacer{
      left: 90%;;
    }

    .panzoom {
      left: 80%;
    }
  }
}

.g-teller-settings{

    .form {
        width: 100%;

        .button {
          margin: 0px -5px;
        }
    }

    .formula {
      float: left;
      margin-left: 10px;
    }


    .form-draw-button{
        margin: 0px 3px;
    }

    .field{
        width: 100px;

    }
}
